In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('results.csv')

df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [3]:
df = df.dropna(axis = 0)

df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [4]:
tourn_dict = {'Friendly':20,
             'FIFA World Cup':60,
             'AFC Asian Cup': 50,
             'African Cup of Nations':50,
             'African Nations Championship':50,
             'Gold Cup': 50,
             'CONCACAF Nations League': 50,
             'Copa AmÃ©rica': 50,
             'Oceania Nations Cup': 50,
             'UEFA Euro': 50,
             'UEFA Nations League':50}


df['tournament_weight'] = df['tournament'].replace(tourn_dict)

df['tournament_weight'] = df.apply(lambda x: 40 if 'qualification' in x['tournament'] else x['tournament_weight'], axis=1)

df["tournament_weight"] = df["tournament_weight"].replace(regex='([a-zA-Z])', value=30)

In [5]:
df['home_goal_difference'] = df['home_score']-df['away_score']

In [6]:
def parse_homeresult(x):
    if x > 0:
       return 1
    elif x == 0:
       return 0.5
    else:
       return 0

df['result'] = df['home_goal_difference'].apply(parse_homeresult)

In [7]:
df['home_bonus'] = [100 if x else 0 for x in df['neutral']]

In [8]:
def parse_goaldiffindex(x):
    x = np.abs(x)
    if x <= 1:
        return 1
    elif x == 2:
        return 3/2
    else:
        return (11+x)/8

df['g_index'] = df['home_goal_difference'].apply(parse_goaldiffindex)

In [9]:
df['home_elo'] = 0
df['away_elo'] = 0

In [10]:
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,tournament_weight,home_goal_difference,result,home_bonus,g_index,home_elo,away_elo
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,20,0.0,0.5,0,1.00,0,0
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,20,2.0,1.0,0,1.50,0,0
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,20,1.0,1.0,0,1.00,0,0
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,20,0.0,0.5,0,1.00,0,0
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,20,3.0,1.0,0,1.75,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44099,2022-11-16,Turkey,Scotland,2.0,1.0,Friendly,Diyarbakir,Turkey,False,20,1.0,1.0,0,1.00,0,0
44100,2022-11-16,United Arab Emirates,Argentina,0.0,5.0,Friendly,Abu Dhabi,United Arab Emirates,False,20,-5.0,0.0,0,2.00,0,0
44101,2022-11-16,Uzbekistan,Kazakhstan,2.0,0.0,Friendly,Tashkent,Uzbekistan,False,20,2.0,1.0,0,1.50,0,0
44102,2022-11-16,Lithuania,Iceland,0.0,0.0,Baltic Cup,Kaunas,Lithuania,False,30,0.0,0.5,0,1.00,0,0
44103,2022-11-16,Latvia,Estonia,1.0,1.0,Baltic Cup,Riga,Latvia,False,30,0.0,0.5,0,1.00,0,0

In [11]:
class PremTeam:
    def __init__(self, name):
        self.team_name = name
        self.elo_rating = 1500

In [12]:
class EloCalculator:

    def update_single_fixture(self,fixture, teams):

        home_rating = teams[fixture['home_team']].elo_rating + fixture['home_bonus']
        away_rating = teams[fixture['away_team']].elo_rating

        dr = home_rating-away_rating

        expected_result = 1/(10**(-dr/600)+1)
        
        points_change = fixture['tournament_weight']*fixture['g_index']*(fixture['result'] - expected_result)

      
        # update elo ranking by adding the coefficient
        teams[fixture['home_team']].elo_rating += points_change
        teams[fixture['away_team']].elo_rating -= points_change

In [13]:
# Create list of all team names over parsed seasons.
# For every team that has a fixture in our data, add
# this team to the set of all team names

team_names = set()
for team in np.unique(df[['home_team', 'away_team']].values):
    team_names.add(team)

In [14]:
# Create a dictionary of all teams.
# The key is the team name and the value an
# instance of PremTeam class
teams = {}
for team in team_names:
    teams[team] = PremTeam(team)

In [15]:
elo = EloCalculator()

In [16]:
  
# Count the number of matches in the season
n_matches = df.shape[0]
    
# As we have sorted our SeasonData dataframe, we can access each fixture
# in order and update the each teams elo rating. The teams are stored in the
# dict called teams which we pass into this function
for i in range(n_matches):
    df.loc[i,['home_elo']] = teams[df.iloc[i]['home_team']].elo_rating
    df.loc[i,['away_elo']] = teams[df.iloc[i]['away_team']].elo_rating
    
    elo.update_single_fixture(df.iloc[i], teams)

# Print the up to date elo_ratings
for team in teams.keys():
    print(team, teams[team].elo_rating)

San Marino 610.4957930241227
Timor-Leste 701.8043826930356
Ãland Islands 1520.4712138879593
El Salvador 1622.9466454938408
Serbia 2038.8507820324926
Iraqi Kurdistan 1664.3905141173384
Cambodia 959.1325148242402
Benin 1521.6299512638443
Ivory Coast 1821.8904051291734
Uzbekistan 1806.9258242254325
Bermuda 1400.6981814152573
Biafra 1512.5641370972644
Moldova 1180.8000626992077
Saint Vincent and the Grenadines 1233.3902971412538
Latvia 1312.6096080675436
Chameria 1544.4574580823198
Russia 1895.8661378516238
Republic of St. Pauli 1497.9527109455262
Artsakh 1582.9590203160665
Western Australia 1443.1380412707686
Belize 1176.9127293314887
Romani people 1491.9230588083742
Singapore 1280.2903329156109
Yemen 1134.5162726929157
Chad 1227.443936947773
Estonia 1408.650538411149
Sint Maarten 1084.989576638182
Brittany 1522.3418753245662
Barbados 1111.2693715018768
Gibraltar 1021.0318756990733
Isle of Wight 1651.8868344954903
Cape Verde 1600.4543262935526
Bangladesh 920.0139562228017
South Sudan 1118.7875913606422
Gambia 1497.6596580485234
Malawi 1378.2893613146962
Shetland 1442.8017293811881
Brunei 772.3258838333119
Saint Martin 1008.3887464045916
British Virgin Islands 732.4171897534092
Finland 1762.6750640084476
New Zealand 1805.7379505777942
Yorkshire 1564.9358092799991
Cuba 1425.1858240304564
Andalusia 1617.43336724275
Somalia 797.2543964121024
Puerto Rico 1264.800257270655
Senegal 1958.3657157309428
DR Congo 1607.9384048183915
Maldives 1134.180472533471
Basque Country 1848.8151404706339
Switzerland 2121.21418825072
Tajikistan 1461.3008149294328
Guinea-Bissau 1408.8916633847152
Parishes of Jersey 1518.9410114300713
Bahrain 1705.587534561043
County of Nice 1581.5962031556114
Grenada 1249.9285590850695
United States 2078.867430615822
Djibouti 819.1381497498547
North Macedonia 1609.9943794999667
Turks and Caicos Islands 1022.1237986411977
Galicia 1554.3085486055325
Abkhazia 1633.125399007297
Ynys MÃ´n 1618.352276165545
Yugoslavia 1893.4812975907018
United Koreans in Japan 1469.7112090219423
Brunei Darussalam 1470.604157624133
Congo 1444.5460590012754
Hong Kong 1295.15521097053
South Ossetia 1457.1031132379348
French Guiana 1566.128515688037
India 1404.2137727724441
Anguilla 756.7407873053616
Canada 1989.038951420999
Fiji 1566.9430337332055
United States Virgin Islands 862.9087990807241
Burundi 1323.3330719266532
Australia 1937.8521338018907
Uganda 1541.347301169223
Eritrea 1126.4918537315805
Portugal 2242.8894242125875
Surrey 1513.37126625644
Montenegro 1603.6898796660535
Yoruba Nation 1478.563430913331
Micronesia 1326.286432308598
Paraguay 1847.1628762004577
Suriname 1509.6634608422248
Kiribati 1158.7634281959079
Romania 1722.330571088081
Indonesia 1361.5108409981667
Hitra 1296.4224462618238
German DR 1751.8684435771638
Western Isles 1380.8972912943143
Costa Rica 1926.7766817704355
France 2236.413344952789
Malta 1184.4297901174814
Mauritius 1047.608451109501
Tonga 1033.0047473509383
Syria 1568.8660963925436
SzÃ©kely Land 1451.707357432281
Namibia 1478.610145501543
Gozo 1417.436976841084
Seychelles 918.0279027938145
Arameans Suryoye 1544.146282986324
Slovenia 1712.1244657793395
Saint Pierre and Miquelon 1187.9255481751686
Ecuador 1987.5760642929533
Nigeria 1803.400293187278
Saint Kitts and Nevis 1347.703856582311
Botswana 1381.0805200791299
Padania 1728.9704831144195
Belarus 1371.440763026513
Spain 2301.657190825151
Qatar 1904.5789896389106
Taiwan 1022.6560189889422
Iraq 1741.9136210070576
Slovakia 1640.1044695796422
Nicaragua 1433.3709826306294
Tibet 1273.0131728039219
Chile 1870.1756349089244
Guatemala 1618.8822686310798
Azerbaijan 1378.068060337224
England 2154.6167068561685
Haiti 1711.89568033425
Dominican Republic 1358.4284980490522
Guam 890.1472618768078
Papua New Guinea 1530.0316987768558
North Vietnam 1489.9474351313552
Bhutan 667.1099389930331
Turkey 1805.1224062810738
Austria 1836.909788881939
Bolivia 1669.6237211299301
SÃ£o TomÃ© and PrÃ­ncipe 1067.6235901862483
Comoros 1296.649883317544
Malaysia 1410.5752748827285
Andorra 990.5552174112922
Somaliland 1469.6621442363194
Italy 2228.7853341224177
Crimea 1498.5439209211718
Ghana 1747.1940558480785
Provence 1398.6771963760268
Aruba 1068.9762541013251
Montserrat 1207.726290650577
Myanmar 1062.7751674752462
Gabon 1593.6421298014868
Isle of Man 1754.1331047203203
Bulgaria 1572.272499688092
Wales 1927.7236397004242
Northern Cyprus 1728.2402112331833
Cayman Islands 987.7745126290699
Tuvalu 1155.484379897192
Jamaica 1731.9032919286858
Trinidad and Tobago 1497.731663358541
Saint Lucia 1223.4359341817512
Equatorial Guinea 1507.7155789765907
Ethiopia 1446.1130117167397
Catalonia 1692.5245355343927
Albania 1572.0574645187085
Cascadia 1550.1548970078047
RÃ©union 1669.6462719742256
Kenya 1502.0805207302988
Kabylia 1468.4919707810136
Germany 2184.093363463473
United Arab Emirates 1735.6309319886966
Libya 1439.6325036374842
Cameroon 1792.6037204255788
Georgia 1743.3933734643338
FelvidÃ©k 1500.355426227562
Israel 1693.559634727035
Ukraine 1898.7947999503897
Martinique 1536.424353926729
Aymara 1464.2084379970788
Bonaire 1272.1722823516402
Central Spain 1493.188218826705
Tamil Eelam 1395.5683558086548
American Samoa 1002.1241444069434
KÃ¡rpÃ¡talja 1604.6549775975598
Rwanda 1411.9449295064273
Macau 820.6338636188549
Barawa 1385.1092427191813
Bahamas 1118.0479817146136
GÄgÄuzia 1417.6477856593717
Cyprus 1311.6068846436283
Colombia 2114.188341909838
Solomon Islands 1549.365775265166
Saare County 1285.4426989654373
Guinea 1515.608793926368
Mali 1800.4481522830768
Togo 1465.2874291659812
Greenland 1479.7498151576604
Liberia 1298.056751919049
Luxembourg 1410.1016800047348
Niue 1398.660864284407
Laos 858.1327185919253
Honduras 1626.3165481608517
Guyana 1356.2873813615304
Niger 1354.233571841807
Cook Islands 1138.7001794075152
Northern Ireland 1575.1886987520525
Monaco 1456.1250805938703
Thailand 1541.6949340272258
Two Sicilies 1464.1148327897022
Orkney 1317.178862289603
Peru 2034.520369292286
Zambia 1561.1917960197313
Netherlands 2287.72011934101
Guernsey 1791.4790783468375
Manchukuo 1437.3111309000142
Jordan 1774.524316518623
Central African Republic 1278.1224177583267
South Africa 1690.0927464870217
Mexico 2023.261527102398
Brazil 2451.0194241245035
Guadeloupe 1492.5452047733368
Mayotte 1433.3426638396581
South Korea 2069.9653370930705
Zimbabwe 1475.05780007037
North Korea 1532.184520824119
China PR 1647.998242046599
Palau 1428.1903387919012
Wallis Islands and Futuna 1282.4967842698302
Pakistan 909.6798424290058
Faroe Islands 1227.761236789964
Morocco 2035.6977046240722
Japan 2056.0358064421944
Kyrgyzstan 1438.0541923809737
Belgium 2262.0689119968793
SÃ¡pmi 1487.3334915088074
Maule Sur 1534.6528728600779
Gotland 1463.4551720184675
Denmark 2187.053840585997
Croatia 2089.2103188113138
Scotland 1873.9117489642663
FrÃ¸ya 1189.1622851396835
Burkina Faso 1699.2232590452825
Vietnam 1592.4262984078593
Antigua and Barbuda 1293.8851824186604
Lesotho 1267.0076881452942
Norway 1841.1401990256732
Algeria 1933.1528566806662
Zanzibar 1460.0814406282793
Saarland 1450.5469467515245
Dominica 1102.275726925283
Tahiti 1476.6819779901427
Western Sahara 1462.6429805523935
Madagascar 1423.8058709942836
Matabeleland 1496.6246602825531
New Caledonia 1600.2771041553146
Tunisia 1900.7932646307424
Palestine 1546.0305931634123
Vietnam Republic 1418.1112346040295
Iceland 1611.4590405660867
Silesia 1524.7730460609328
Republic of Ireland 1783.515422438963
Vanuatu 1515.5880066134232
Mozambique 1391.1965605387568
Mongolia 1024.2570028328623
Afghanistan 1176.8091565482914
Egypt 1843.6992648375094
Yemen DPR 1327.5817790699346
Alderney 1248.5972105886656
Rhodes 1583.460749439213
Kazakhstan 1374.8224702682894
Iran 2056.7136402443625
Corsica 1562.0355265847593
Sudan 1401.496750091736
CuraÃ§ao 1523.860445030644
Kernow 1579.2829950912073
Panjab 1561.7003293205682
Jersey 1813.5484605203242
Panama 1836.7720480431135
Canary Islands 1522.323009581187
Saint Helena 1417.3524481884795
Angola 1483.5656601117203
Lebanon 1502.3743002216331
Saudi Arabia 1869.4914766452548
Sierra Leone 1362.8030173890434
Czech Republic 1919.0516614964893
Hungary 1977.0035255182534
Raetia 1376.3659420120166
Occitania 1557.4933564213002
Kuwait 1445.1553832931343
Eswatini 1262.0861008090503
Armenia 1483.763017391933
Kosovo 1567.836072290862
Northern Mariana Islands 854.9835699002605
Samoa 1164.9080288246346
Sark 1320.6537275165567
Madrid 1492.0708029579525
Venezuela 1790.2802485516154
Mauritania 1479.3386774400822
Ellan Vannin 1537.2869052781673
Mapuche 1501.1386891428433
Falkland Islands 1178.8736652293542
Nepal 1044.7659977079768
Sri Lanka 805.062012730871
Liechtenstein 840.5353469092333
Lithuania 1190.0136339032874
Sweden 1863.8950179824462
Darfur 1231.6484182653085
Bosnia and Herzegovina 1715.4290241181413
Turkmenistan 1374.7464284940038
Uruguay 2123.076691376326
Argentina 2349.450628257151
Oman 1751.0365556406382
Menorca 1603.056259569565
Czechoslovakia 1831.918781490744
Tanzania 1423.294445114294
Vatican City 1430.950866756366
Poland 1976.2138679393615
Greece 1807.0479141161227
Chagos Islands 1287.6469149998363
Western Armenia 1523.9868208990058
Asturias 1515.989036686885
Philippines 1287.3260848263765

In [17]:
df['date'] =  pd.to_datetime(df['date'], format='%Y-%m-%d')
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,tournament_weight,home_goal_difference,result,home_bonus,g_index,home_elo,away_elo
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,20,0.0,0.5,0,1.00,1500.000000,1500.000000
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,20,2.0,1.0,0,1.50,1500.000000,1500.000000
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,20,1.0,1.0,0,1.00,1485.000000,1515.000000
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,20,0.0,0.5,0,1.00,1504.424989,1495.575011
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,20,3.0,1.0,0,1.75,1495.744810,1504.255190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44099,2022-11-16,Turkey,Scotland,2.0,1.0,Friendly,Diyarbakir,Turkey,False,20,1.0,1.0,0,1.00,1793.369721,1885.664434
44100,2022-11-16,United Arab Emirates,Argentina,0.0,5.0,Friendly,Abu Dhabi,United Arab Emirates,False,20,-5.0,0.0,0,2.00,1739.182993,2345.898568
44101,2022-11-16,Uzbekistan,Kazakhstan,2.0,0.0,Friendly,Tashkent,Uzbekistan,False,20,2.0,1.0,0,1.50,1801.970610,1379.777685
44102,2022-11-16,Lithuania,Iceland,0.0,0.0,Baltic Cup,Kaunas,Lithuania,False,30,0.0,0.5,0,1.00,1179.660053,1621.812622
44103,2022-11-16,Latvia,Estonia,1.0,1.0,Baltic Cup,Riga,Latvia,False,30,0.0,0.5,0,1.00,1309.715465,1411.544681

In [18]:
teams['Qatar'].elo_rating

1904.5789896389106

In [19]:
teams['Ecuador'].elo_rating

1987.5760642929533

In [20]:
diff = teams['Qatar'].elo_rating + 100 - teams['Ecuador'].elo_rating
Homewin = 1/(10**(-diff/600)+1)

In [21]:
Homewin

0.5163069988861212

In [22]:
df['home_xgf'] = 0

In [23]:
home_team_stats = df[['date','home_team','home_score','away_score']]
away_team_stats = df[['date','away_team','home_score','away_score']]

home_team_stats.columns = ['date','team','goals_for','goals_against']
away_team_stats.columns = ['date','team','goals_against','goals_for']

team_stats_per_match = home_team_stats.append(away_team_stats)

team_stats_per_match

C:\Users\niabrown\AppData\Local\Temp\ipykernel_24132\3007216826.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_stats_per_match = home_team_stats.append(away_team_stats)

            date        team  goals_for  goals_against
0     1872-11-30    Scotland        0.0            0.0
1     1873-03-08     England        4.0            2.0
2     1874-03-07    Scotland        2.0            1.0
3     1875-03-06     England        2.0            2.0
4     1876-03-04    Scotland        3.0            0.0
...          ...         ...        ...            ...
44099 2022-11-16    Scotland        1.0            2.0
44100 2022-11-16   Argentina        5.0            0.0
44101 2022-11-16  Kazakhstan        0.0            2.0
44102 2022-11-16     Iceland        0.0            0.0
44103 2022-11-16     Estonia        1.0            1.0

[88208 rows x 4 columns]

In [24]:
team_stats_per_match['xG10'] = team_stats_per_match['goals_for'].rolling(10,min_periods=1).mean()
team_stats_per_match['xGA10'] = team_stats_per_match['goals_against'].rolling(10,min_periods=1).mean()

team_stats_per_match

            date        team  goals_for  goals_against  xG10  xGA10
0     1872-11-30    Scotland        0.0            0.0   0.0   0.00
1     1873-03-08     England        4.0            2.0   2.0   1.00
2     1874-03-07    Scotland        2.0            1.0   2.0   1.00
3     1875-03-06     England        2.0            2.0   2.0   1.25
4     1876-03-04    Scotland        3.0            0.0   2.2   1.00
...          ...         ...        ...            ...   ...    ...
44099 2022-11-16    Scotland        1.0            2.0   0.9   1.00
44100 2022-11-16   Argentina        5.0            0.0   1.2   0.80
44101 2022-11-16  Kazakhstan        0.0            2.0   1.0   0.90
44102 2022-11-16     Iceland        0.0            0.0   0.8   0.80
44103 2022-11-16     Estonia        1.0            1.0   0.9   0.80

[88208 rows x 6 columns]

In [25]:
# Re-segment the home and away teams.

home_team_stats = team_stats_per_match.iloc[:int(team_stats_per_match.shape[0]/2),:]
away_team_stats = team_stats_per_match.iloc[int(team_stats_per_match.shape[0]/2):,:]

In [26]:
home_team_stats.columns = ['team_1_'+str(col) for col in home_team_stats.columns]
away_team_stats.columns = ['team_2_'+str(col) for col in away_team_stats.columns]

match_stats = pd.concat([home_team_stats, away_team_stats.reset_index(drop=True)], axis=1, ignore_index=False)

In [27]:
df = pd.concat([df, match_stats], axis=1, ignore_index=False)

In [28]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral', 'tournament_weight',
       'home_goal_difference', 'result', 'home_bonus', 'g_index', 'home_elo',
       'away_elo', 'home_xgf', 'team_1_date', 'team_1_team',
       'team_1_goals_for', 'team_1_goals_against', 'team_1_xG10',
       'team_1_xGA10', 'team_2_date', 'team_2_team', 'team_2_goals_for',
       'team_2_goals_against', 'team_2_xG10', 'team_2_xGA10'],
      dtype='object')

In [29]:
df_final = df[['home_score', 'home_elo', 'away_elo', 'team_1_xG10', 'team_1_xGA10', 'team_2_xG10', 'team_2_xGA10']]

In [30]:
df_final['xG'] = df_final['team_1_xG10']*df_final['team_2_xGA10']
df_final['xGA'] = df_final['team_1_xGA10']*df_final['team_2_xG10']

C:\Users\niabrown\AppData\Local\Temp\ipykernel_24132\1908694846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['xG'] = df_final['team_1_xG10']*df_final['team_2_xGA10']
C:\Users\niabrown\AppData\Local\Temp\ipykernel_24132\1908694846.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['xGA'] = df_final['team_1_xGA10']*df_final['team_2_xG10']

In [31]:
df_final

,home_score,home_elo,away_elo,team_1_xG10,team_1_xGA10,team_2_xG10,team_2_xGA10,xG,xGA
0,0.0,1500.000000,1500.000000,0.0,0.00,0.7,0.9,0.00,0.00
1,4.0,1500.000000,1500.000000,2.0,1.00,0.9,1.2,2.40,0.90
2,2.0,1485.000000,1515.000000,2.0,1.00,0.9,1.4,2.80,0.90
3,2.0,1504.424989,1495.575011,2.0,1.25,1.0,1.6,3.20,1.25
4,3.0,1495.744810,1504.255190,2.2,1.00,1.0,1.8,3.96,1.00
...,...,...,...,...,...,...,...,...,...
44099,2.0,1793.369721,1885.664434,1.0,0.90,0.9,1.0,1.00,0.81
44100,0.0,1739.182993,2345.898568,0.8,1.20,1.2,0.8,0.64,1.44
44101,2.0,1801.970610,1379.777685,0.9,1.00,1.0,0.9,0.81,1.00
44102,0.0,1179.660053,1621.812622,0.8,0.80,0.8,0.8,0.64,0.64
44103,1.0,1309.715465,1411.544681,0.8,0.90,0.9,0.8,0.64,0.81

In [4]:
from sklearn.model_selection import train_test_split
X = df_final.drop('home_score',axis = 1)
y = df_final['home_score']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle= True, random_state=10)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
from sklearn.linear_model import PoissonRegressor
from sklearn.pipeline import Pipeline
from sklearn import metrics

pipeline = Pipeline([('model', PoissonRegressor())])
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
r2_test = metrics.r2_score(y_test, y_pred)

r2_test

ModuleNotFoundError: No module named 'sklearn'